.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #ffffff;
}

.title {
  font-size: 40px;
}

.chessboard {
  width: 400px;
  margin: auto;
  margin-top: 20px;
}

.square-55d63 {
  background: #e9e9e9;
}

.square-1e1d7 {
  background: #1e1d7d;
}

.piece-417db {
  font-size: 40px;
}
